__pycache__
.mp/
venv/
Songs/
google-maps-scraper-0.9.7/
niche.txt
*.exe
auto.sh
.DS_Store
.env
config.yaml
.idea
CLAUDE.md
database.db
database.db-shm
database.db-wal
src/files
src/fonts

tests/background_video.mp4
tests/transcript.srt
tests/test_audio_track.wav