pydantic
pydantic_settings
pyyaml
sqlmodel
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8/kittentts-0.8.0-py3-none-any.whl
whisper
stable-ts
pydub
#pytest-xdist
moviepy
ollama
matplotlib
SubtitleFX
docker
ffmpeg-python